Importar bibliotecas.

In [1]:
import pandas as pd, numpy as np, sklearn, matplotlib as plt
import sklearn.preprocessing

Carregar o DataSet.

In [2]:
df = pd.read_csv('datasets/restaurant.csv')
df.head()

   ID  Alt  Bar  Fri  Hun   Pat Price Rain  Res    Type    Est Class
0  X1  Yes   No   No  Yes  Some   $$$   No  Yes  French   0-10   Yes
1  X2  Yes   No   No  Yes  Full     $   No   No    Thai  30-60    No
2  X3   No  Yes   No   No  Some     $   No   No  Burger   0-10   Yes
3  X4  Yes   No  Yes  Yes  Full     $   No   No    Thai  10-30   Yes
4  X5  Yes   No  Yes   No  Full   $$$   No  Yes  French    >60    No

Eliminar colunas irrelevantes.

In [3]:
df = df.drop('ID', axis=1)

Verificar existência de dados em branco.

In [4]:
df.isnull().any()

Alt      False
Bar      False
Fri      False
Hun      False
Pat       True
Price    False
Rain     False
Res      False
Type     False
Est      False
Class    False
dtype: bool

Como os espaços nulos em Pat significam que o restaurante está vazio, não é importante preenchê-los.

Codificação de atributos categóricos binários.

In [5]:
label_encoder = sklearn.preprocessing.LabelBinarizer()
for column in df.columns:
    if len(set(df[column].values)) == 2:
        df[column] = label_encoder.fit_transform(df[column])
df.head()

   Alt  Bar  Fri  Hun   Pat Price  Rain  Res    Type    Est  Class
0    1    0    0    1  Some   $$$     0    1  French   0-10      1
1    1    0    0    1  Full     $     0    0    Thai  30-60      0
2    0    1    0    0  Some     $     0    0  Burger   0-10      1
3    1    0    1    1  Full     $     0    0    Thai  10-30      1
4    1    0    1    0  Full   $$$     0    1  French    >60      0

Codificação de atributos categóricos não binários.

In [7]:
for column in df.columns:
    if len(set(df[column].values)) > 2: #atributos com mais do que 2 valores
        label_encoder = sklearn.preprocessing.LabelEncoder() #inicia encoder
        df[column] = label_encoder.fit_transform(df[column]) #cria nova coluna com os valores codificados
df.head()

   Alt  Bar  Fri  Hun  Pat  Price  Rain  Res  Type  Est  Class
0    1    0    0    1    1      2     0    1     1    0      1
1    1    0    0    1    0      0     0    0     3    2      0
2    0    1    0    0    1      0     0    0     0    0      1
3    1    0    1    1    0      0     0    0     3    1      1
4    1    0    1    0    0      2     0    1     1    3      0